<h1>Eat-Da-Burger!</h1>

<ul id="displayBurger">
    {{#each burgers}}
    {{burger_name}}
    {{/each}}
</ul>

{{!-- devoured burgers list --}}
<ul>
    {{#each burgers}}
    {{/each}}

    <button class="devouredId" id="burger_id">Eat-Da-Burger!</button>
</ul>

<h2>Order DA Burger</h2>
<form id="create-form">

    <div class="form-group">
        <label for="burger">What Burger do you want to eat?</label>
        <input type="text" id="burgerInput" name="name">
    </div>

    <button type="submit">Order DA Burger!</button>
</form>