.header {
  padding: 30px;
  text-align: center;
  background: #d53349;
  color: white;
  font-size: 30px;
}

.order {
  padding: 60px;
  text-align: center;
  background: #ffe285;
}

ul {
  text-align: center;
  list-style: inside;
}

.font {
  font-family: "Luckiest Guy", serif;
}
